@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: 2s;

}
.d-none {
    display: none;
}
#banner {
  min-height: 100vh;
}
.navbar {
  background-color: rgb(170, 77, 77);
  display: flex;
  align-items: center;
  height: 10vh;

}
.nav-banner {
  display: flex;
  justify-content: space-evenly;
}
.link-navbar {
  color: white;
  text-decoration: none;
  margin: 0px 30px;
}
.contenedor-informacion {
  display: flex;
  justify-content: space-between;

}
.imagen {
  background-image: url('./imagenes/fondo-banner.jpg');
  width: 50vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contenedor-texto-img {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgba(58, 21, 21, 0.453);
  color: rgb(255, 255, 255);
  padding: 20px;
  height: 100%;
}
.informacion {
  background-color: rgb(170, 77, 77);
  color: white;
  height: 90vh;
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.titulo-informacion {
  margin: 5px 0px;
}
.datos-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-datos-contacto {
  margin: 5px 0px;
}
.img-informacion {
  width: 150px;
  height: 150px;
  background-image: url('./imagenes/yo.jfif');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.texto-datos-contacto {
  color: #fff;
  text-decoration: none;
}
.lista-redes-sociales{
  list-style: none;
  display: flex;
}
.link-redes-sociales {
  font-size: 30px;
  color: #fff;
  margin: 0px 5px;
}
.btn-cv {
  border-style: none;
  width: 150px;
  height: 50px;
  text-align: center;
}
.link-cv {
  text-decoration: none;
  color: rgb(170, 77, 77);

}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
  background-color: rgb(170, 77, 77);
  position: sticky;
  top: 0px;
  font-family: "Montserrat", sans-serif;
}
.ul-nav {
  list-style: none;
  display: flex;
}
.li-nav {
  margin: 0px 10px;
}
.a-nav {
  text-decoration: none;
  color: white;
  transition: 1s;
}
.a-nav:hover {
  color: rgb(245, 245, 65);
}

.ul-nav-responsive {
  display: none;
  list-style: none;
}
.group-a-nav-responsive {
  position: absolute;
  top: 40px;
  left: 0px;
  background-color: rgb(58, 53, 53);
  width: 100vw;
  padding: 20px;
}
.a-nav-responsive {
  text-decoration: none;
  color: white;
}
.li-nav-responsive {
    margin: 15px 0px;
}
.icon-responsive {
  border-style: none;
  background-color: rgb(170, 77, 77);
  width: 40px;
}
.fa-bars {
  color: white;
  font-size: 20px;
}
.proyect-container {
  display: flex;
  align-items: center;
  margin: 50px auto;

}
.texto-proyecto {
  margin: 30px;
  width: 50%;
}
.img-container {
  width: 700px;
  object-fit: cover;
}
img {
  width: 100%;
}

.proyectos {
  text-align: center;
  margin: 20px;
  color: rgb(58, 53, 53);
  font-size: 2em;
}
.proyect-container {
  display: flex;
  flex-direction: column;
}
.descripcion-proyecto {
  text-align: justify;

}
.btns-proyecto {
  text-align: center;
  margin: 20px;
}
.btn-proyecto {
  border-style: none;
  background-color: rgb(170, 77, 77);
  color: white;
  width: 150px;
  height: 30px;
  margin: 10px;

}
.a-btn-proyecto {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}
.i-btn-proyecto {
  font-size: 20px;
  margin: 0px 5px;
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 77, 77);
  color: white;
  padding: 20px;
  height: 100vh;
}
.title-contacto {
  font-size: 2.5em;
  margin: 10px 0px;
}
.p-contacto {
  font-size: 1.5em;
  margin: 10px 0px;
}
.ul-contacto {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.li-contacto {
  margin: 0px 10px;
}
.a-contacto {
  text-decoration: none;
  font-size: 1.3em;
  color: white;
}
.fab,
.far {
  margin: 0px 10px;
}
.sobre-mi {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100vh;
  text-align: justify;

}
.sobre-mi-img {
  width: 400px;
  margin: 0px 20px;
}
.texto-sobre-mi{
  width: 50%;
  line-height: 30px;
}
.title-sobre-mi {
  margin: 10px 0px;
}
@media (max-width: 600px) {
  .navbar {
    display: none;
  }
  .contenedor-informacion {
    flex-direction: column;
  }
  .imagen {
    width: 100vw;
  }
  .informacion {
    width: 100vw;
  }
  .img-container {
    width: 300px;
  }
  .texto-proyecto {
    width: 90%;
    margin: 10px 0px;
  }
  .ul-nav {
    display: none;
  }
  .ul-nav-responsive {
    display: flex;
  }
  .title-nav {
    font-size: 1.3em;
  }
  .img-container-proyecto {
    width: 300px;
  }
  .title-contacto {
    font-size: 1.5em;
  }
  .ul-contacto {
    flex-direction: column;
  }
  .li-contacto {
    margin: 10px 0px;
  }
  .mail {
    font-size: .9em;
  }
  .proyect-container{
    flex-wrap: wrap;
  }
  .texto-proyecto {
    margin: 10px;
  }

  .texto-sobre-mi {
  width: 90%;
  }
  .sobre-mi-img {
    margin: 10px;
  }
} 
